tg_token: 123456789:AaAAAAAAAAbBbZz
search: 'junior java'
chat_id: 12345678
area_id: 1 # Put "no" or remove entirely to disable. https://api.hh.ru/openapi/redoc#tag/Obshie-spravochniki/operation/get-dictionaries
sleep_delay_secs: 30
user_agent: 'TestBot/0.1'